.landing {
    text-align: center;
}

h3 {
    font-size: 65px;
    font-family: 'Caveat', cursive;
    margin-top: 5%;
}

h1 {
    font-family: 'Carter One', cursive;
    font-size: 100px;
    margin: 15vh 0vh 0vh 0vh;
}

body {
    background-color: rgba(211, 211, 211, 0.486);
}

.start {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    float: right;
    font-family: cursive;
    bottom: 0px;
    right: 0px;
    position: fixed;
    margin: 2%;
    width: 20%;
    transition: 0.3s;
}

.start:hover {
    box-shadow: 0px 0px 3px 5px whitesmoke;
    font-weight: 700;
}

.money {
    position: fixed;
    right: 2%;
    bottom: 9vh;
    height: 20vh;
}

.landing {
    background-image: url(../Images/Teal_Blue_Circle.png);
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: center;
}

.left {
    float: left;
    width: 20%;
    text-align: right;
    margin-left: 5vh;
    margin-top: 3vh;
}

.right {
    float: right;
    width: 25%;
    text-align: left;
    margin-right: 5vh;
    margin-top: 3vh;
}

.left>h4, .right>h4 {
    font-size: 37px;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}