.about{
    text-align: center;
}

nav{
    background-color: beige;
    overflow: auto;
}

li{
    display: inline;
    padding-left: 2%;
    float: right;
    margin: 1.5%;
}

#kiptoo{
    padding-top: 3%;
    margin-left: 3%;
}
.Vertical{
    border-left: 6px solid black;
    height:400px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
  }