.about{
    text-align: center;
}

nav{
    background-color: beige;
    overflow: auto;
}

li{
    display: inline;
    padding-left: 2%;
    float: right;
    margin: 1.5%;
}

#kiptooimage{
    margin-top: 1%;
    margin-left: 15%;
    width: 200px;
    border-radius: 50%;
   

}

.kiptoo{
    margin-left: 16%;
}
#kiptoo{
    margin-left: 6%;
}
.Vertical{
    border-left: 1px solid black;
    height:700px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 25%;
  }

  #ronaldimage{
      margin-left: 60%;
      border-radius: 50%;
      margin-bottom: 0.5%;

  }

  .ronald{
      margin-left: 63%;
     
  }

  #ronaldp{
      margin-left: 55%;
      margin-bottom: 2%;
  }

  #muriithi{
    margin-left: 15%;
    width: 200px;
    border-radius: 50%;
    }

    .muriithi{
        margin-left: 17%;
    }

    #muriithip{
        margin-left: 7%;
    }
 